.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $width-tablet) {
  .container {
    padding: 32px;
  }
}

@media (min-width: $width-desktop) {
  .container {
    max-width: 1376px;
    margin: 0 auto;
  }
}
